# Git
.git
.gitignore

# Documentation
README.md
LICENSE

# IDE
.idea
.vscode

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.svelte-kit

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Uploads
uploads

# Database
*.db
*.sqlite

# Temporary files
tmp
temp
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db
